<div class="container mt-5">
  <h4 class="text-center">Sign In</h4>

  <form
    [formGroup]="loginForm"
    class="form mt-4"
    (submit)="login()"
    *ngIf="!loading"
  >
    <div class="form-group">
      <input
        #usernameInput
        formControlName="username"
        class="form-control"
        [class.is-valid]="loginForm.controls['username'].valid"
        placeholder="Username"
      />
      <error-message
        *ngIf="isRequiredAndTouched('username')"
        text="Username is required"
      ></error-message>
    </div>

    <div class="form-group">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        [class.is-valid]="loginForm.controls['password'].valid"
        placeholder="Password"
      />
      <error-message
        *ngIf="isRequiredAndTouched('password')"
        text="Password is required"
      ></error-message>
    </div>

    <button
      [disabled]="loginForm.invalid"
      type="submit"
      class="btn btn-primary btn-block my-4"
    >
      Login
    </button>
  </form>

  <modal-loading *ngIf="loading"></modal-loading>

  <p class="text-center mt-2">
    Not a user? <a [routerLink]="['/register']">Register</a>
  </p>
</div>
