<div class="container-fluid mt-5 justify-content">

  <div class="float-right">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="open(modalEvent)">
        +Event
      </button>
    </div>
  </div>

  <ng-template #modalEvent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">New Event</h5>
        <button type="button" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="eventForm" class="form mt-4" (submit)="close()">

          <div class="form-group">
            <label>Title</label>
            <input formControlName="title" class="form-control" autofocus>
            <ap-vmessage *ngIf="eventForm.get('title')?.errors?.required" text="Title is required"></ap-vmessage>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input formControlName="description" class="form-control" autofocus>
            <ap-vmessage *ngIf="eventForm.get('description')?.errors?.required" text="Description is required">
            </ap-vmessage>
          </div>

          <div class="form-group">
            <label>Start date</label>
            <input formControlName="start" type="datetime-local" class="form-control" autofocus>
            <ap-vmessage *ngIf="eventForm.get('start')?.errors?.required" text="Start date is required"></ap-vmessage>
          </div>

          <div class="form-group">
            <label>End date</label>
            <input formControlName="end" type="datetime-local" class="form-control" autofocus>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" [disabled]="eventForm.invalid" class="btn btn-outline-primary"
          (click)="addEvent()">
          Add Event
        </button>
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      </div>
  </ng-template>



  <div class="row text-center mb-2">

    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(calendarView.Month)" [class.active]="view === calendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(calendarView.Week)" [class.active]="view === calendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="setView(calendarView.Day)" [class.active]="view === calendarView.Day">
          Day
        </div>
      </div>
    </div>

  </div>

  <div [ngSwitch]="view">

    <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" *ngSwitchCase="calendarView.Month"
      [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="calendarView.Week" [viewDate]="viewDate" [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="calendarView.Day" [viewDate]="viewDate" [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>

  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event Content</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalContentData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalContentData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Close
    </button>
  </div>
</ng-template>
