<body class="container-fluid mt-3 justify-content pt-0">
  <ng-template #modalEvent let-close="close" class="modal fade" role="dialog">
    <div #modalEventContent class="modal-header">
      <h4 class="modal-title">New Event</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="eventForm" class="form" *ngIf="!loading">
        <div class="form-group">
          <label>Title</label>
          <input formControlName="title" class="form-control"  />
          <error-message
            *ngIf="
              eventForm.get('title')?.errors?.required &&
              eventForm.controls['title'].touched
            "
            text="Title is required"
          ></error-message>
        </div>

        <div class="form-group">
          <label class="form-label">Start date</label>

          <!-- <div class="row">
            <div class="col-xs-12 col-md-5 col-lg-4 form-group">
              <input
                class="form-control"
                #datepickerFull="bsDatepicker"
                bsDatepicker
                formControlName="dateFull"
                [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, hh:mm:ss a' }">
            </div>
            <div class="col-xs-12 col-12 col-md-3 form-group">
              <button class="btn btn-success" (click)="datepickerFull.toggle()" [attr.aria-expanded]="datepickerFull.isOpen" type="button">Date Picker</button>
            </div>
          </div> -->

          <input
            formControlName="start"
            type="datetime-local"
            class="form-control"
          />
          <error-message
            *ngIf="
              eventForm.get('start')?.errors?.required &&
              eventForm.controls['start'].touched
            "
            text="Start date is required"
          ></error-message>
        </div>

        <div class="form-group">
          <label>End date</label>
          <input
            formControlName="end"
            type="datetime-local"
            class="form-control"
          />
          <error-message
            *ngIf="
              eventForm.get('end')?.errors?.required &&
              eventForm.controls['end'].touched
            "
            text="End date is required"
          ></error-message>
        </div>
      </form>

      <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        [disabled]="eventForm.invalid"
        class="btn btn-outline-primary"
        (click)="newEvent()"
      >
        Add Event
      </button>
      <button type="button" class="btn btn-secondary" (click)="close()">
        Close
      </button>
    </div>
  </ng-template>

  <div class="row text-center mb-2">
    <div class="col-sm-6 col-md-4 text-rigth mb-2">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </button>
        <button
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </button>
        <button
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </button>
      </div>
    </div>

    <!-- <app-modal-error
      text="We got an error, chief, sorry :("
      *ngIf="loading"
    ></app-modal-error> -->

    <div class="col-sm-6 col-md-4 mb-2" #Control>
      <div class="btn-group">
        <button
          class="btn btn-primary"
          (click)="setView(calendarView.Month)"
          [class.active]="view === calendarView.Month"
        >
          Month
        </button>
        <button
          class="btn btn-primary"
          (click)="setView(calendarView.Week)"
          [class.active]="view === calendarView.Week"
        >
          Week
        </button>
        <button
          class="btn btn-primary"
          (click)="setView(calendarView.Day)"
          [class.active]="view === calendarView.Day"
        >
          Day
        </button>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <button class="btn btn-primary" (click)="open(modalEvent)">+Event</button>
    </div>
  </div>

  <div class="text-center">
    <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      (dayClicked)="dayClicked($event.day)"
      *ngSwitchCase="calendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
      *ngSwitchCase="calendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
      *ngSwitchCase="calendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</body>

<ng-template #modalContent let-close="close">
  <header class="modal-header">
    <h4 class="modal-title">Event Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>

  <div class="modal-body">
    <form [formGroup]="eventForm" class="form">
      <div class="form-group">
        <label>Title</label>
        <input
          formControlName="title"
          class="form-control"
          ngModel="{{ modalContentData?.event.title }}"
          
        />
        <error-message
          *ngIf="
            eventForm.get('title')?.errors?.required &&
            eventForm.controls['title'].touched
          "
          text="Title is required"
        ></error-message>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-12 col-md-4 form-group">
            <input
              type="text"
              placeholder="Start Date"
              formControlName="start"
              class="form-control"
              bsDatepicker
              [bsConfig]="{ isAnimated: true }"
            />
            <error-message
              *ngIf="
                eventForm.get('start')?.errors?.required &&
                eventForm.controls['start'].touched
              "
              text="Start date is required"
            ></error-message>
          </div>
          <div class="col-xs-12 col-12 col-md-4 form-group">
            <input
              type="text"
              placeholder="End Date"
              formControlName="end"
              class="form-control"
              bsDaterangepicker
              [bsConfig]="{ isAnimated: true }"
            />
            <error-message
              *ngIf="
                eventForm.get('end')?.errors?.required &&
                eventForm.controls['end'].touched
              "
              text="End date is required"
            ></error-message>
          </div>
        </div>
      </div>
    </form>
  </div>

  <footer class="modal-footer">
    <button
      type="button"
      [disabled]="eventForm.invalid"
      class="btn btn-outline-primary"
      (click)="editEvent()"
    >
      Update Event
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Close
    </button>
  </footer>
</ng-template>
