<body class="container">
  <header >
    <h2>Skills Portfolio</h2>
  </header>
  <div class="d-flex" >
    <div class="d-flex flex-column" style="min-height: 100px; max-width: 200px"  >
      <div class="">
        <h4 class="border">Mostre seu trampo</h4>
        Aqui eu posso mostrar qualquer coisa em qualquer
        tamanhoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>

      <div style="background-color: grey; min-height: 100px;">
        Mais uma caixinha aqui
      </div>
    </div>

    <div class="main">
      <div class="container">
        <h4 class="border">Qlqr coisa pra mostrar seu trampo</h4>

        <div
          class="col-4 d-inline-flex"
          style="background-color: blue; height: 150px"
        >
          <div class="about">
            <h5>About</h5>
            <p>
              Raul é um desenvolvedor legal que precisa de um texto longo pra
              exemplificar aqui como ficaria a tela.
            </p>
          </div>
        </div>

        <div
          class="col-8 d-inline-flex text-right"
          style="background-color: aqua; height: 150px"
        >
          <div class="about">
            <h5>About</h5>
            <p>
              Raul é um desenvolvedor muuuuuuuuuuito legal que precisa de um
              texto longo pra exemplificar aqui como ficaria a tela. Então aqui
              está um exemplo claro.
            </p>
          </div>
        </div>

        <div class="col-12 d-inline-block" style="background-color: pink">
          <div class="programing-skills">
            <h3>Programing</h3>
            <p>
              Aqui podem ir uns ícones das linguagens e uma porcentagenzinha de
              domínio de cada uma.
            </p>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
          </div>
        </div>

        <div class="contact text-center">
          <div class="col-6 d-inline-block">
            <h3>Programing</h3>
            <p>
              Aqui podem ir uns ícones das linguagens e uma porcentagenzinha de
              domínio de cada uma.
            </p>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
          </div>
          <div class="col-md-6 d-inline-block">
            <h3>Programing</h3>
            <p>
              Aqui podem ir uns ícones das linguagens e uma porcentagenzinha de
              domínio de cada uma.
            </p>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
