<div class="card d-flex align-self-center mb-2">
  <div
    highlightMouse
    [color1]="'#DBD8E3'"
    [color2]="'#C0BEC7'"
    class="card-body d-flex flex-column justify-content-around"
  >
    <div class="align-items-center" style="min-height: 60px;">
      <h5 class="card-title ">{{ event.title | uppercase }}</h5>
    </div>
    <div>
      <label>Start date</label>
      <p class="card-text">{{ event.start | date }}</p>
    </div>
    <div>
      <label>End date</label>
      <p class="card-text">{{ event.end | date }}</p>
    </div>
  </div>
  <div
    highlightMouse
    [color1]="'#DBD8E3'"
    [color2]="'#C0BEC7'"
    class="card-footer d-flex justify-content-around"
  >
    <a class="ml-1 fa fa-edit fa-lg"></a>
    <a class="ml-2 fa fa-trash fa-lg"></a>
  </div>
</div>
