.card-body{
  background-color: #cbcad3f6;
  width: 230px;
  transition: .2s ease-in-out;
}
.card-footer{
  background-color: #cbcad3dc;
  transition: .2s ease-in-out;
}

label {
  background-color: #9776bddc;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 485px) {

  .card-title{
    font-size: 18px;
  }
  .card-text {
    font-size: 14px;
  }
}