<body class="container">
  <header class="mt-2 mb-3">
    <h2>About</h2>
  </header>
  <div class="d-flex">
    <div
      class="d-flex flex-column border text-center sideBar p-2"
      style="min-height: 100px; max-width: 200px"
    >
      <h4>Thanks to be here!</h4>
      <div>
        <p>
          I'm Raul! Connect with me on
          <strong>
            <a href="https://www.linkedin.com/in/raul-paes/"
              >LinkedIn</a
            ></strong
          >
          to we grow our networking!
        </p>
        <p>
          Back-end enthusiast, guided by solving problems with technology,
          efficiently. Love to learn and teach.
        </p>
      </div>

      <div style="min-height: 100px">
        Five years working in a bank insurance company made me a generalist
        professional, improving my soft skills on leadership positions.
      </div>

      <img
        class="mt-2"
        src="../../../assets/img/perfil.jpg"
        alt="Dev's photo."
      />
    </div>

    <div class="main">
      <div class="container">
        <h4 class="title mt-2 mb-2">Project info</h4>

        <div class="col-4 d-inline-flex">
          <p>
            Calendar web application. Register an user and create, edit or
            delete events your own events.
          </p>
        </div>

        <div class="col-8 d-inline-flex text-right">
          <p>
            Is possible to edit the event by dragging or resizing it in week and
            day view. Events can take 1 day or more. You can view by month, week
            or day view.
          </p>
        </div>

        <div class="col-12 d-inline-block">
          <div class="programing-skills">
            <h3>Technologies</h3>
            <p>
              The project is builded with Angular 11, Bootstrap 4 and SCSS
              preprocessor for styles.
            </p>
          </div>
        </div>

        <div class="contact text-center">
          <div class="col-6 d-inline-block">
            <h3>Programing</h3>
            <p>
              Lorem ipsum donec nulla lectus cursus consequat tempor rutrum,
              morbi hac vel ut dolor interdum consectetur integer nisi,
              vulputate mi quis mollis ornare egestas posuere. pharetra tortor
              vulputate in leo ut hendrerit eu, platea varius curabitur
              malesuada netus vel, porta nec accumsan blandit amet diam. morbi
              vitae pellentesque ipsum interdum morbi congue mattis, fames hac
              rutrum mauris et donec et mattis, netus sit per interdum egestas
              cursus. gravida nulla aliquam et curabitur sem tristique, quam
              mattis class hendrerit nibh sodales inceptos, malesuada id donec
              dapibus volutpat. fermentum potenti duis tellus sapien vulputate
              litora sem hendrerit, nulla ornare hac aliquam id placerat
              curabitur vestibulum eleifend, cubilia dolor cubilia eleifend
              morbi netus sit.
            </p>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
          </div>
          <div class="col-md-6 d-inline-block">
            <h3>Programing</h3>
            <p>
              Lorem ipsum donec nulla lectus cursus consequat tempor rutrum,
              morbi hac vel ut dolor interdum consectetur integer nisi,
              vulputate mi quis mollis ornare egestas posuere. pharetra tortor
              vulputate in leo ut hendrerit eu, platea varius curabitur
              malesuada netus vel, porta nec accumsan blandit amet diam. morbi
              vitae pellentesque ipsum interdum morbi congue mattis, fames hac
              rutrum mauris et donec et mattis, netus sit per interdum egestas
              cursus. gravida nulla aliquam et curabitur sem tristique, quam
              mattis class hendrerit nibh sodales inceptos, malesuada id donec
              dapibus volutpat. fermentum potenti duis tellus sapien vulputate
              litora sem hendrerit, nulla ornare hac aliquam id placerat
              curabitur vestibulum eleifend, cubilia dolor cubilia eleifend
              morbi netus sit.
            </p>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
