<body class="container">
  <header class="mt-2 mb-3">
    <h2>About</h2>
  </header>
  <div class="d-flex">
    <div
      class="d-flex flex-column border text-center sideBar"
      style="min-height: 100px; max-width: 200px"
    >
      <h4>Dev</h4>
      <div>
        <p>
          <strong
            >Raul is full stack dev intern at
            <a href="http://tokenlab.com.br">Tokenlab</a></strong
          >
        </p>
        <p>
          Back-end enthusiast, he loves to use Node.js and Spring boot. Angular
          and React are his favorite framework to build front-end.
        </p>
      </div>

      <div style="min-height: 100px">
        Five years working in a bank insurance company made of Raul a
        generalist, or
        <strong>T</strong> professional, improved my soft-skills on a leadership
        position and hard-skills to analysis and refactor processes.
      </div>

      <img
      class="mt-2"
      src="../../../assets/img/perfil.jpg"
      alt="Dev's photo."
      />
    </div>

    <div class="main">
      <div class="container">
        <h4 class="title">Project</h4>

        <div class="col-4 d-inline-flex">
          <p>
            Calendar web application. Make a user and create, edit or delete
            events your own events.
          </p>
        </div>

        <div class="col-8 d-inline-flex text-right">
          <p>
            Is possible to edit the event by dragging or resizing it. Events can
            take 1 day or more. Back-end repository's name is calendar, go on
            and make then work together! :)
          </p>
        </div>

        <div class="col-12 d-inline-block">
          <div class="programing-skills">
            <h3>Technologies</h3>
            <p>
              The project is Angular based, with Bootstrap and Scss for styles.
            </p>
          </div>
        </div>

        <div class="contact text-center">
          <div class="col-6 d-inline-block">
            <h3>Programing</h3>
            <p>
              Aqui podem ir uns ícones das linguagens e uma porcentagenzinha.
            </p>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
          </div>
          <div class="col-md-6 d-inline-block">
            <h3>Programing</h3>
            <p>
              Aqui podem ir uns ícones das linguagens e uma porcentagenzinha.
            </p>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
            <i class="fa fa-coffee"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
