h4 {
  font-size: 1.2rem;
}

input::placeholder {
  font-size: 0.8rem;
  color: #606060;
}

button {
  font-size: 0.95rem;
  background-color: #0073b1;
  color: #fafafa;
  font-weight: bold;
  border: 2px solid;
  border-radius: 20px;
}

button[disabled] {
  font-size: 0.95rem;
  background-color: rgb(255, 255, 255);
  color: #0073b1;
  border: 2px solid;
  border-radius: 20px;
}

p {
  font-size: 0.8rem;
}
