<div class="container-small ml-5 mt">
  <h4 class="text-center">Register</h4>

  <form [formGroup]="registerForm" class="form mt-4" (submit)="register()">

    <div class="form-group">
      <input #usernameInput formControlName="username" class="form-control" placeholder="Username" autofocus>
      <ap-vmessage *ngIf="registerForm.get('username')?.errors?.required" text="Username is required"></ap-vmessage>
      <ap-vmessage *ngIf="registerForm.get('username')?.errors?.minlength" text="Minimum length is 3"></ap-vmessage>
      <ap-vmessage *ngIf="registerForm.get('username')?.errors?.maxlength" text="Maximum length is 20"></ap-vmessage>
      <ap-vmessage *ngIf="registerForm.get('username')?.errors?.pattern"
        text="Must be lower case and should not start with a number"></ap-vmessage>
    </div>

    <div class="form-group">
      <input formControlName="email" type="email" class="form-control" placeholder="Email" autofocus>
      <ap-vmessage *ngIf="registerForm.get('password')?.errors?.required" text="Email is required"></ap-vmessage>
      <ap-vmessage *ngIf="registerForm.get('password')?.errors?.email" text="Invalid email"></ap-vmessage>
    </div>

    <div class="form-group">
      <input formControlName="password" type="password" class="form-control" placeholder="Password" autofocus>
      <ap-vmessage *ngIf="registerForm.get('password')?.errors?.required" text="Password is required"></ap-vmessage>
      <ap-vmessage *ngIf="registerForm.get('password')?.errors?.minlength" text="Minimum length is 6"></ap-vmessage>
      <ap-vmessage *ngIf="registerForm.get('password')?.errors?.maxlength" text="Maximum length is 20"></ap-vmessage>
    </div>

    <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-block">Register</button>

    <p class="text-center mt-2">Already a user?<a [routerLink]="['']"> Sign In!</a></p>

  </form>
</div>
