span {
  color: #dce6f1;
  a {
    color: #6c49a8;
  }
}

i {
  color: #c0d1e2;
}

a {
  color: #6c49a8;
}

a:hover {
  text-decoration: none;
  color: #c0bec7;
  transition: 0.2s ease-in;
}

li a:hover {
  background-color: #dbd8e323;
  border-radius: 1.4rem;
  transition: 0.22s ease-in;
}
@media (max-width: 430px) {
  .hide {
    display: none;
  }

  a span {
    display: none;
  }

  li {
    a {
      font-size: 14px
    }
  }


}
