  <nav class="navbar navbar-expand  navbar-ligth" style="background-color: #eeeeee">
    <div class="container-fluid">
      <div class="navbar-brand">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span class=""> Calendariozinho </span>
      </div>

      <div class="navbar-collapse d-inline-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['portfolio']">About</a>
          </li>
        </ul>
      </div>

      <ng-template #login>
        <span class="signIn" [routerLink]="['']" aria-hidden="true"
          >Sign in
          <a class="fa fa-sign-in"></a>
        </span>
      </ng-template>

      <div #logged class="p-2 bd-highlight" *ngIf="user$ | async as user; else login">
        <i class="fa fa-user-circle mr-1"></i>
        <span class="mr-2">{{ user.username }}, be welcome!</span>
        <div class="text-right">
          <span id="logout" class="mr-1 font-italic">Logout</span>
          <a class="fa fa-sign-out" (click)="logout()"></a>
        </div>
      </div>
    </div>
  </nav>
