span {
  color: #dce6f1;
  a {
    color: #6c49a8;
  }
}

i {
  color: #c0d1e2;
}

a {
  transition: 0.5s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #c0bec7;
  transition: 0.5s ease-in-out;
}



li a:hover {
  background-color: #dbd8e323;
  border-radius: 1.4rem;
  transition: 0.22s ease-in;
}

@media (max-width: 500px) {
  .hide {
    display: none;
  }

  .navbar-brand{
    font-size: 30px;
  }

  a span {
    display: none;
  }

  li {
    a {
      font-size: 14px
    }
  }


}
